<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="JobHuntConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQLEXPRESS;initial catalog=JobHunt;Integrated Security=SSPI;" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true"/>
</configuration>