<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <add name="JobHuntEntities" connectionString="metadata=res://*/JobHuntLogModel.csdl|res://*/JobHuntLogModel.ssdl|res://*/JobHuntLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN7PRO;initial catalog=JobHunt;User Id=jobhunt_user;Password=J0bHuntaH08!7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.windows.forms jitDebugging="true"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="nlog-internal.log">

    <variable name="logDirectory" value="${basedir}/logs/" />
    <variable name="appName" value="JobHunt" />

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} - ${level:uppercase=true}: ${logger} - ${message}${onexception:${newline}Exception\: ${exception:format=ToString}}" />
      <target name="file" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt" layout="${longdate} - ${level:uppercase=true}: ${logger} - ${message}${onexception:${newline}Exception\: ${exception:format=ToString}}" />
      <target name="eventlog" xsi:type="EventLog" source="${appName}" layout="${longdate} - ${level:uppercase=true}: ${logger} - ${message}${newline}${exception:format=ToString}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>

  </nlog>
</configuration>